a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

p {
    color: #8c8f94;
    padding: 10px 0;
    line-height: 150%;
    font-size: 12pt;
}

h2 {
    font-size: 22pt;
}

h1, h2, h3 {
    color: #26272D;
}

h6 {
    font-weight: 400;
}

body {
    margin: 0;
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
}

.nav-list li {
    display: inline;
    padding: 0 10px;
}

.nav-list {
    display: block;
    width: 300px;
}

#main-menu {
    width: 100%;
    padding: 44px 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: transparent;
    transition: background-color 1s;
    transition: padding 1s;
}

#main-nav {
    font-size: 12pt;
    width: 1170px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navigation-btn {
    color: #1b1c1e;
    text-decoration: none;
}

#what-happens {
    margin: 0 auto;
    padding: 200px 0 0;
    height: 800px;
    background-image: url('../images/banner_background.jpg');
    background-position: center;
    background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 1170px;
}

#page-title {
    text-align: center;
    font-size: 42pt;
    font-weight: 300;
    margin: auto;
    padding: 20px;
}

#what-happens p {
    padding: 0 170px;
    font-size: 16pt;
    text-align: center;
}

.just-btn {
    border: solid 1px #DADCDE;
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    width: 205px;
    height: 42px;
    margin: 0 auto;
    line-height: 42px;
}

.btn-content {
    display: inline-block;
    font-size: 12pt;
    padding: 0 5px;
    margin: auto;
}

#watch-btn {
    height: 50px;
    border-radius: 50px;
    margin: 50px auto;
    line-height: 50px;
    display: block;
}

#get-app-btn {
    width: 132px;
    height: 44px;
    line-height: 44px;
    background-color: #267DF4;
    border: 0px;
    color: #fff;
}

#learn-btn {
    width: 140px;
    margin: 0 10px;
}

#hack-btn {
    margin-right: 10px;
    background-color: #267DF4;
    border: 0px;
    color: #fff;
    display: inline-flex;
    justify-content: space-between;
}

.center-image {
    display: block;
    margin: auto;
    padding: 10px;
}

#features {
    width: 1170px;
    margin: auto;
    padding: 120px 0;
    display: flex;
}

.feature {
    width: 50%;
    padding: 0 35px;
}

.feature i {
    padding: 12px 0;
    color: #267DF4;
    font-size: 32pt;
}

.feature h3 {
    padding: 12px 0;
    font-size: 18pt;
    font-weight: 300;
}

hr {
    width: 1170px;
    height: 1px;
    border: 0;
    margin: auto;
    color: #F4F4F4;
    background-color: #F4F4F4;
}

#protected-day {
    width: 1170px;
    height: 800px;
    margin: auto;
    padding: 125px 0;
    position: relative;
}

#protected-device {
    display: inline-block;
    position: absolute;
    right: 50%;
    z-index: 1;
}

#protected-text {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 470px;
    padding: 200px 35px;
}

.padding-block {
    padding: 40px 0;
}
