* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: #267DF4;
}

p {
    color: #8c8f94;
    padding: 10px 0;
    line-height: 150%;
    font-size: 12pt;
}

h2 {
    font-size: 22pt;
}

h1, h2, h3, h5, a {
    color: #26272D;
}

h6, h2, h5 {
    font-weight: 400;
}
strong {
  font-weight: bolder;
}

body {
    margin: 0;
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
}

.nav-list li {
    display: inline;
    padding: 0 10px;
}

.nav-list {
    display: block;
    width: 300px;
}

.wide-header {
    transition: 1s;
    padding: 44px 0;
}

.thin-header {
    transition: 0.5s;
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0px 1px 15px #888888;
}

#main-menu {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
}

#main-nav {
    font-size: 12pt;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navigation-btn {
    color: #1b1c1e;
    text-decoration: none;
}

#what-happens {
    margin: 0 auto;
    padding: 200px 0 0;
    height: 800px;
    background-image: url('../images/banner_background.jpg');
    background-position: center;
    background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    overflow: hidden;
}

#page-title {
    text-align: center;
    font-size: 42pt;
    font-weight: 300;
    margin: auto;
    padding: 20px;
}

#what-happens p {
    padding: 0 170px;
    font-size: 16pt;
    text-align: center;
}

.just-btn {
    border: solid 1px #DADCDE;
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    width: 205px;
    height: 42px;
    margin: 0 auto;
    line-height: 42px;
}

.btn-content {
    display: inline-block;
    font-size: 12pt;
    padding: 0 5px;
    margin: auto;
}

#watch-btn {
    height: 50px;
    border-radius: 50px;
    margin: 50px auto;
    line-height: 50px;
    display: block;
}

#get-app-btn {
    width: 132px;
    height: 44px;
    line-height: 44px;
    background-color: #267DF4;
    border: 0px;
    color: #fff;
}

#learn-btn {
    width: 140px;
    margin: 0 10px;
}

#hack-btn {
    margin-right: 10px;
    background-color: #267DF4;
    border: 0px;
    color: #fff;
    display: inline-flex;
    justify-content: space-between;
}

.center-image {
    display: block;
    margin: auto;
    padding: 10px;
}

#features {
    padding: 120px 0;
    display: flex;
}

.feature {
    width: 50%;
    padding: 0 35px;
}

.feature i {
    padding: 12px 0;
    color: #267DF4;
    font-size: 32pt;
}

.feature h3 {
    padding: 12px 0;
    font-size: 18pt;
    font-weight: 300;
}

hr {
    width: 1170px;
    height: 1px;
    border: 0;
    margin: auto;
    color: #F4F4F4;
    background-color: #F4F4F4;
}

#protected-day {
    height: 800px;
    padding: 125px 0 0;
    position: relative;
}

#protected-device {
    display: inline-block;
    position: absolute;
    right: 50%;
    z-index: 1;
}

#protected-text {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 470px;
    padding: 200px 35px;
}

#we-everywhere {
    height: 500px;
    padding: 125px 0;
    position: relative;
}

#everywhere-text {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 500px;
}

#everywhere-text h5 {
  font-weight: 600;
}

#everywhere-map {
    display: inline-block;
    position: absolute;
    left: 50%;
    z-index: 1;
}

.partner-image {
    padding: 25px 10px 0 0;
}

.padding-block {
    padding: 40px 0;
}

.main-container {
    width: 100%;
    overflow: hidden;
}

.interface-container {
    background-color: #F5F5F8;
    max-width: 100%;
    overflow: hidden;
}

#interface {
    padding: 100px 0;
}

.section-title {
    text-align: center;
    margin: 50px auto;
}

.blue-line {
    width: 50px;
    height: 2px;
    color: #267DF4;
    background-color: #267DF4;
    margin: 0 auto 25px;
}

.section-subtitle {
    text-align: center;
    color: #A9AAB1;
}

#interface-images {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 150px;
}

.interface-img {
    margin: 0 10px;
    box-shadow: 2px 2px 15px #888888;
}

#email-form {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    height: 50px;
    width: 500px;
    border-radius: 25px;
    border: solid 1px #DADCDE;
    background-color: inherit;
    padding: 0 26px;
    font-size: 16px;
}

#app-download {
    display: block;
    margin: 15px auto;
    border-radius: 25px;
}
